* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mainDiv {
    position: relative;
    width: 640px;
    height: 400px;
    background-position-x: -2380px;
    background-repeat: no-repeat;
}

table {
    border-collapse: collapse;
    position: absolute;
    left: 274px;
    top: 95px;
}

.cell {
    width: 16px;
    height: 16px;
    background-color: black;
    font-size: 7px;
    text-align: center;
    z-index: 2;
}

.invisible {
    display: none;
}

.spritesheet {
    background-image: url('/spritesheet.png');
}

.letter {
    width: 24px;
    height: 22px;
    background-position-y: 0px;
}

#scoreImgs,
#recordImgs,
#virusCounter {
    display: flex;
    position: absolute;
    left: 40px;
}

#scoreImgs {
    top: 133px;
}

#recordImgs {
    top: 83px;
}

#virusCounter {
    left: 560px;
    top: 335px;
}

.dialog {
    position: absolute;
    bottom: calc(50% - 40px);
    height: 122px;
}

.game-over {
    bottom: calc(50% - 40px);
    left: calc(50% - 175px);
    width: 330px;
    height: 122px;
    background-position-x: -2050px;
}

.stage-complete {
    left: calc(50% - 200px);
    width: 425px;
    background-position-x: -3022px;
}

.virus-red {
    background-image: url('/covid_brown.png');
}

.virus-blue {
    background-image: url('/covid_blue.png');
}

.virus-green {
    background-image: url('/covid_yellow.png');
}

.red- {
    background-position-x: -1720px;
}

.red-1 {
    background-position-x: -1752px;
}

.red-2 {
    background-position-x: -1800px;
}

.red-3 {
    background-position-x: -1784px;
}

.red-4 {
    background-position-x: -1736px;
}

.blue- {
    background-position-x: -1608px;
}

.blue-1 {
    background-position-x: -1640px;
}

.blue-2 {
    background-position-x: -1688px;
}

.blue-3 {
    background-position-x: -1672px;
}

.blue-4 {
    background-position-x: -1624px;
}

.green- {
    background-position-x: -3445px;
}

.green-1 {
    background-position-x: -3477px;
}

.green-2 {
    background-position-x: -3525px;
}

.green-3 {
    background-position-x: -3509px;
}

.green-4 {
    background-position-x: -3461px;
}

.hand {
    position: absolute;
    z-index: 1;
    top: 62px;
    left: 496px;
    background-image: url('/hand.png');
    background-size: calc(75px);
    background-repeat: no-repeat;
    width: 18px;
    height: 70px;
}

.hand-animation {
    animation-duration: 0.35s;
    animation-name: hand-animation;
    animation-direction: normal;
    animation-timing-function: steps(1, end);
}

@keyframes hand-animation {
    33% {
        width: 35px;
        height: 37px;
        left: 480px;
        top: 80px;
        background-position-x: -20px;
    }

    66% {
        background-position-x: -60px;
        width: 24px;
        height: 48px;
        left: 500px;
        top: 100px;
    }

    to {
        background-position-x: -60px;
        width: 24px;
        height: 48px;
        left: 500px;
        top: 100px;
    }
}

.pill-hand {
    position: absolute;
    display: flex;
    top: 50px;
    left: 479px;
}

.pill-animation {
    animation-duration: 1.6s;
    animation-name: pill-animation;
    animation-direction: normal;
    animation-timing-function: steps(3, end);
}


@keyframes pill-animation {
    20% {
        top: 15px;
        left: 460px;
        rotate: 90deg;
    }

    40% {
        top: 0px;
        left: 415px;
        rotate: 180deg;
    }

    60% {
        top: 10px;
        left: 360px;
        rotate: 270deg;
    }

    80% {
        top: 30px;
        left: 330px;
        rotate: 360deg;
    }

    to {
        top: 100px;
        left: 320px;
        rotate: 360deg;
    }
}

.red-explosion {
    background-position-x: -1768px;
}

.blue-explosion {
    background-position-x: -1656px;
}

.green-explosion {
    background-position-x: -3493px;
}

.virus-red-explosion {
    background-position-x: -1816px;
}

.virus-blue-explosion {
    background-position-x: -1704px;
}

.virus-green-explosion {
    background-position-x: -3541px;
}