* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: none;
}

table {
    border-collapse: collapse;
    margin: 10px auto;
    border: 1px solid black;
}

td {
    text-align: center;
    min-width: 70px;
    min-height: 30px;
    padding: 5px 10px;
}

#p1 {
    background-color: lightgreen;
}

#l1 {
    background-color: lightcyan;
}

#p2 {
    background-color: lightcoral;
}

#l2 {
    background-color: lightsalmon;
}

#p3 {
    background-color: purple;
}

#l3 {
    background-color: lightgray;
}

#p4 {
    background-color: lightseagreen;
}

#l4 {
    background-color: lightsteelblue;
}

td div {
    width: 100%;
    text-align: center;
    padding: 5px;
    background-color: pink;
    border-radius: 30px;
    transition: 300ms;
}

td div::selection, td div::-moz-selection {
    background-color: transparent;
}

td div:hover {
    background-color: hotpink;
}

.pressed {
    background-color: blueviolet !important;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.relative {
    position: relative;
    width: 100%;
}

.absolute {
    position: absolute;
    left: calc(50% - 500px);
}